@model Team_Golf.Models.GolfCourse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/CSS/DetailsStyle.css" rel="stylesheet" />
</head>

<body>
    <div class="headerinfo">
        <h1> Golf Course Details</h1>
    </div>
    <div id="Details_Section">
        <article class="some_details_name">
            <h3><span class="CourseName">@Model.Name</span></h3>
            <p> About this Golf Course: <span>@Model.Description</span></p>
            <p> Golf Course Type: <span>@Model.CourseType</span></p>
            <hr />
            <hr />
            @foreach (var review in Model.Reviews)
            {
                <p>Reviewer Name: <span>@review.ReviewerName</span></p>
                <p>Review: <span><a href="/Review/Details/@review.Id">@review.ReviewText</a></span></p>
                <p>Review Rating: <span>@review.ReviewRating</span></p>
                <p>Review Date: <span>@review.ReviewDate</span></p>
                <hr />
            }
            <hr />
            <p><a href="/Review/CreateByGolfCourseId/@Model.Id">Add New Review</a></p>
            <p><a href="/Course/Index">Return to All Golf Courses Page</a></p>
        </article>
    </div>
</body>

</html>
